---
const cards = [
  {
    title: 'jsddsg',
    image: '/images/sample.png',
  },
  {
    title: 'jsddsg',
    image: '/images/sample.png',
  },
  {
    title: 'jsddsg',
    image: '/images/sample.png',
  },
  {
    title: 'jsddsg',
    image: '/images/sample.png',
  },
  {
    title: 'jsddsg',
    image: '/images/sample.png',
  },
  {
    title: 'jsddsg',
    image: '/images/sample.png',
  },
  {
    title: 'jsddsg',
    image: '/images/sample.png',
  },
  {
    title: 'jsddsg',
    image: '/images/sample.png',
  },
];
---

<section class="content-container event-section h-fit my-8 overflow-hidden">
  <div class="grid grid-cols-1 lg:grid-cols-2 h-fit gap-8 cards-grid">
    {
      cards.map((card) => (
        <div class="event-card interactable" data-type="link">
          <img src={card.image} alt={card.title} />
          {/* <h5>{card.title}</h5> */}
        </div>
      ))
    }
  </div>

  <div class="mx-auto mt-32 w-36 aspect-square bg-white text-black rounded-full grid place-content-center text-center">
    <span> view more </span>
  </div>
</section>

<style>
  .event-section {
    --card-height: 400px;
    margin-bottom: calc(var(--card-height) / 2);
  }

  .cards-column {
    @apply flex flex-col gap-8  w-full h-full;
  }

  .event-card {
    width: 100%;
    height: var(--card-height);
    @apply rounded-[25px] flex flex-col gap-2 bg-gray-700;
  }

  .event-card img {
    @apply w-full h-full object-cover;
    border-radius: inherit;
  }

  @media (min-width: 1024px) {
    .event-card:nth-child(even) {
      margin-top: calc(var(--card-height) / 2);
      margin-bottom: calc(-1 * var(--card-height) / 2);
    }
    .cards-grid {
      padding-bottom: calc(var(--card-height) / 2);
    }
  }
</style>

<script>

  document.addEventListener('astro:page-load', () => {
    //left cards
    const leftCards = document.querySelectorAll('.event-card:nth-child(odd)');

    window.gsapContext.add(() => {
      Array.from(leftCards).forEach((card) => {
        gsap.fromTo(
          card,
          {
            x: -300,
            opacity: 0,
            rotate: '-45deg',
          },
          {
            x: 0,
            opacity: 1,
            rotate: '0deg',
            ease: 'power4.inOut',
            scrollTrigger: {
              scrub: 0.3,
              trigger: card,
              end: 'center center',
              start: 'top 100%',
              toggleActions: 'restart none none none',
            },
          }
        );
      });
    });

    //right cards
    const rightCards = document.querySelectorAll('.event-card:nth-child(even)');
    window.gsapContext.add(() => {
      
      Array.from(rightCards).forEach((card) => {
        gsap.from(card, {
          x: 300,
          opacity: 0,
          rotate: '45deg',
          ease: 'power4.inOut',
          scrollTrigger: {
            scrub: 0.3,
            trigger: card,
            end: 'center center',
            toggleActions: 'play none none none',
          },
        });
      });
    });
  });
</script>
