---
const testimonials = [
  { name: 'Rakshith', message: 'Shhh I see dead people', imageUrl: 'images/profile.jpg' },
  { name: 'Karthik', message: '@Varshith layout fixed; If they give attendence im in', imageUrl: 'images/profile.jpg' },
  { name: 'Varshith', message: 'Karthik help me fix this layout', imageUrl: 'images/profile.jpg' },
  { name: 'Ravi', message: 'bro im getting cut out', imageUrl: 'images/profile.jpg' },
  { name: 'Ananth', message: 'kys', imageUrl: 'images/profile.jpg' },
  { name: 'Dilshan', message: 'bomb people', imageUrl: 'images/profile.jpg' },
  { name: 'bhavya', message: 'retired CR', imageUrl: 'images/profile.jpg' },
  { name: 'chinmay billawa', message: 'im out of closet', imageUrl: 'images/profile.jpg' },
  { name: 'chinmayeee', message: 'sings', imageUrl: 'images/profile.jpg' },
  { name: 'akhil', message: 'fk all im busy', imageUrl: 'images/profile.jpg' },
  { name: 'Varun pai', message: 'if flutter im in', imageUrl: 'images/profile.jpg' },
  {
    name: 'Varun pai',
    message:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo consequuntur molestias placeat. Repellat quod laudantium fuga, expedita saepe aspernatur vitae ducimus possimus accusamus nobis, dolorum officiis praesentium sint, ratione voluptatum?',
    imageUrl: 'images/profile.jpg',
  },
];
---

<section class="content-container columns-1 md:columns-2 lg:columns-3 mx-auto w-fit h-fit">
  {
    testimonials.map((testimonial) => (
      <div class="testimonial-card flex flex-col gap-4 p-8 rounded-lg break-inside-avoid mb-4 hover:scale-105 transition-transform">
        <div class="flex gap-4 items-center">
          <img
            src={testimonial.imageUrl}
            alt={testimonial.name}
            class="w-10 aspect-square rounded-full object-cover object-center"
          />
          <div>
            <p class="capitalize">{testimonial.name}</p>
          </div>
        </div>
        <p class="text-gray-400 ml-2">{testimonial.message}</p>
      </div>
    ))
  }
</section>

<style>
  .testimonial-card {
    background-color: rgba(243, 244, 246, 0);
    max-width: 320px;
    box-shadow: 0 20px 30px -20px rgba(181, 180, 180, 0.426);
  }
</style>
