@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Syne:wght@400;500;600;700;800&display=swap");

@font-face {
    font-family: "Dirtyline 36Daysoftype 2022";
    src: url(/fonts/Dirtyline36Daysoftype2022-Reg.eot);
    src: url(/fonts/Dirtyline36Daysoftype2022-Reg.eot?#iefix) format("embedded-opentype"),
        url(/fonts/Dirtyline36Daysoftype2022-Reg.woff2) format("woff2"),
        url(/fonts/Dirtyline36Daysoftype2022-Reg.woff) format("woff"),
        url(/fonts/Dirtyline36Daysoftype2022-Reg.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

.font-dirtyline {
    font-family: "Dirtyline 36Daysoftype 2022";
}

.font-syne-variable {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}