---
import GalleryHero from '@components/GalleryHero.astro';
import Layout from '@layouts/Layout.astro';
import { getImages } from '../lib/cloudinary';
import type { ResourceApiResponse } from 'cloudinary';

let imagesDetails: ResourceApiResponse | null = null;

try {
  imagesDetails = await getImages('gallery');
} catch (err) {
  //handle error
  console.error(err);
}
---

<Layout>
  <main>
    <GalleryHero />
    <section class="content-container w-full h-fit columns-1 sm:columns-2 md:columns-3 lg:columns-4">
      {imagesDetails
        ? imagesDetails.resources.map((image,i) => (
            <img src={image.url} alt=`galary-image-${i}` class="gallery-image mb-4 rounded-lg" />
          ))
        : <p>Loading images...</p>}
    </section>
  </main>
</Layout>

<script>
  document.addEventListener('astro:page-load', () => {
    const images = gsap.utils.toArray('.gallery-image') as HTMLImageElement[];

    images.forEach((element) => {
      gsap.fromTo(
        element,
        {
          filter: 'blur(10px)',
          scale: 0.95,
        },
        {
          duration: 0.5,
          scale: 1.0,
          filter: 'blur(0px)',
          scrollTrigger: {
            start: 'top 70%',
            trigger: element,
            toggleActions: 'restart none none none',
          },
        }
      );
    });
  });
</script>
