---

export const prerender =  false;
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hello</h1>
		<button>Sign Up</button>
	</main>
	
</Layout>
<script>
		
		import { auth, provider, signInWithPopup } from '../firebase/config';
	
		const handleSignUp = async()=>{
			try {
				const result = await signInWithPopup(auth,provider);
				const user = result.user;
				
			} catch (error) {
				
			}
		}
	</script>
