---
import { Image } from 'astro:assets';

interface Props {
  image: ImageMetadata;
}

const { image } = Astro.props;
---

<div
  class="max-w-[300px] overflow-hidden rounded-xl mt-2 bg-[#131821] shadow-sm shadow-[#5d5284] hover:shadow-md hover:shadow-[#5d5284] hover:scale-[1.05]"
>
  <div class="flex flex-col justify-center">
    <div class="flex py-4 h-full w-full justify-center">
      <div class="aspect-square w-[90%] h-full object-fill rounded-lg overflow-hidden">
        <img src="/images/sample.png" alt="event" class="w-full h-full object-fill" />
      </div>
    </div>
    <div class="flex flex-col justify-center w-full items-center">
      <div class="w-[90%] h-full">
        <h1 class="text-lg font-medium">Overseas</h1>

        <p>Venue: Sambhram</p>
        <p>Date: 12/12/2022</p>
        <div class="mt-4 mb-6 flex items-center justify-between">
          <div class="h-10 w-10">
            <img src="images/logo.png" alt="logo" class="w-full h-full object-fill" />
          </div>
          <button class="rounded-full p-2 bg-[#24397f] text-xs">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>
