---



---

<section id="scene" class="overflow-hidden">
  <div data-depth="0.2" id="layer1" class="layer">
    <img src="/images/sample.png" alt="" style="top:20%;left:20%;" />
    <img src="/images/sample.png" alt="" style="bottom:10%;left:70%;" />
  </div>

  <div data-depth="0.4" id="layer2" class="layer">
    <div class="flex justify-around items-center m-auto w-full h-full">
      <img src="/images/sample.png" alt="" style="bottom:10%;left:10%;" />
      <img src="/images/sample.png" alt="" style="bottom:60%;right:20%;" />
    </div>
  </div>

  <div data-depth="0.6" id="layer3" class="layer">
    <div class="flex justify-around items-center m-auto w-full h-full">
      <img src="/images/sample.png" alt="" />
    </div>
  </div>
</section>

<div class="masonry-grid">
  <div class="masonry-item">
    <img src="/public/images/varshithitis.jpeg" alt="Image 1">
  </div>
  <div class="masonry-item">
    <img src="/public/images/sample.png" alt="Image 2">
  </div>
  <div class="masonry-item">
    <img src="public/images/pexels-flodahm-699459.jpg" alt="Image 3">
  </div>
  <div class="masonry-item">
    <img src="public/images/pexels-tirachard-kumtanom-112571-601170.jpg" alt="Image 4">
  </div>
  <div class="masonry-item">
    <img src="public/images/pexels-mareklevak-2265488.jpg" alt="Image 5">
  </div>
  <div class="masonry-item">
    <img src="/public/images/pexels-djordje-petrovic-590080-2102416.jpg" alt="Image 6">
  </div>
  <div class="masonry-item">
    <img src="/public/images/dev1.jpeg" alt="Image 7">
  </div>
  <div class="masonry-item">
    <img src="public/images/pexels-lilartsy-1925536.jpg" alt="Image 8">
  </div>
  <div class="masonry-item">
    <img src="public/images/pexels-flodahm-699459.jpg" alt="Image 9">
  </div>
  <div class="masonry-item">
    <img src="public/images/pexels-tirachard-kumtanom-112571-601170.jpg" alt="Image 10">
  </div>
  <div class="masonry-item">
    <img src="public/images/pexels-mareklevak-2265488.jpg" alt="Image 11">
  </div>
  <div class="masonry-item">
    <img src="/public/images/pexels-djordje-petrovic-590080-2102416.jpg" alt="Image 12">
  </div>
  <div class="masonry-item">
    <img src="/public/images/pexels-djordje-petrovic-590080-2102416.jpg" alt="Image 13">
  </div>
  <div class="masonry-item">
    <img src="/public/images/varshithitis1.png" alt="Image 14">
  </div>
  <div class="masonry-item">
    <img src="public/images/pexels-lilartsy-1925536.jpg" alt="Image 15">
  </div>
  <div class="masonry-item">
    <img src="public/images/pexels-flodahm-699459.jpg" alt="Image 16">
  </div>
  <div class="masonry-item">
    <img src="/public/images/sample.png" alt="Image 2">
  </div>
</div>

<style>

section {
    width: 100%;
    height: max(100vh, 400px);
  }

  section > div {
    width: 100%;
    height: 100%;
  }

  #layer1 {
    filter: brightness(0.6);
    img {
      height: 200px;
      width: auto;
    }
  }

  #layer2 {
    filter: brightness(0.8);

    img {
      height: 250px;
      width: auto;
    }
  }

  #layer3 {
    filter: brightness(1);

    img {
      height: 300px;
      width: auto;
    }
  }

  .layer {
    position: relative;
  }

  .layer img {
    @apply absolute w-full h-full;
  }



.masonry-grid {
  width: 1400px;
  margin: 20px auto;
  columns: 4;
  column-gap: 20px;
  padding-top: 400px;
}

.masonry-grid .masonry-item {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.masonry-item:hover {
  transform: scale(1.05);
}

.masonry-grid .masonry-item img {
  max-width: 100%;
  border-radius: 15px;
}

@media (max-width: 1200px){
  .masonry-grid{
    width: calc(100% - 40px);
    columns: 3;
  }
}
@media (max-width: 768px){
  .masonry-grid{
    columns: 2;
  }
}
@media (max-width: 480px){
  .masonry-grid{
    columns: 1;
  }
}
</style>
<script>
  import Parallax from 'parallax-js';
  const scene = document.getElementById('scene') as HTMLDivElement;
  new Parallax(scene);
</script>