<section id="scene" class="overflow-hidden">
  <div data-depth="0.2" id="layer1" class="layer">
    <img src="/images/sample.png" alt="" style="top:20%;left:20%;" />
    <img src="/images/sample.png" alt="" style="bottom:10%;left:70%;" />
  </div>

  <div data-depth="0.4" id="layer2" class="layer">
    <div class="flex justify-around items-center m-auto w-full h-full">
      <img src="/images/sample.png" alt="" style="bottom:10%;left:10%;" />
      <img src="/images/sample.png" alt="" style="bottom:60%;right:20%;" />
    </div>
  </div>

  <div data-depth="0.6" id="layer3" class="layer">
    <div class="flex justify-around items-center m-auto w-full h-full">
      <img src="/images/sample.png" alt="" />
    </div>
  </div>
</section>

<style>
  section {
    width: 100%;
    height: max(100vh, 400px);
  }

  section > div {
    width: 100%;
    height: 100%;
  }

  #layer1 {
    filter: brightness(0.6);
    img {
      height: 200px;
      width: auto;
    }
  }

  #layer2 {
    filter: brightness(0.8);

    img {
      height: 250px;
      width: auto;
    }
  }

  #layer3 {
    filter: brightness(1);

    img {
      height: 300px;
      width: auto;
    }
  }

  .layer {
    position: relative;
  }

  .layer img {
    @apply absolute w-full h-full;
  }
</style>

<script>
  import Parallax from 'parallax-js';
  const scene = document.getElementById('scene') as HTMLDivElement;
  new Parallax(scene);
</script>
