---

---

<header class="w-full mt-8 fixed top-0 z-50">
    <div class="content-container flex justify-between gap-4 items-center">
        <a href="/">
            <img src="/images/logo.png" alt="ACE" class="h-16 w-auto">

        </a>
    
        <nav class="flex justify-between gap-4">
            <a href="/blogs">blogs</a>
            <a href="/events">events</a>
            <a href="/faculty">faculty</a>
            <a href="/developers">developers</a>
        </nav>
    </div>
</header>

<style>
    nav>a{
        text-transform: capitalize;
    }
</style>