---
interface Props {
  imgURL : string;
  smallImgURL ?:  string;
  style ?: string;
  alt ?: string;
}
  const { imgURL, smallImgURL , style , alt } = Astro.props
---

<div class="blur-load" style=`background-image: url(${smallImgURL})`>
  <img src={imgURL} alt={alt} style={style} loading="lazy" />
</div>

<style>
  .blur-load {
    background-size: cover;
    background-position:center ;
    border-radius: 15px;
  }
  .blur-load > img {
    object-position: center;
    object-fit: cover;
    @apply absolute w-full h-full;
    max-width: 100%;
    border-radius: 15px;
    height: 300px;
    width: auto;
  }
</style>