---
 import Header from "@components/Header.astro";
 import DeveloperCard from "@components/DeveloperCard.astro";



---
<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8' />
<meta http-equiv='X-UA:Compatible' content='IE=edge' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<title>Developers - 2k24</title>
</head>

<body>
  
<Header/>
<div style="padding-top: 4rem;">
	<DeveloperCard/ name="Varshith " description="All Hail Varshith">
	
</div>


<main>

</main>



</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}

	body{
		color: white;
	}


	.content-container{
		padding-left:  max(1rem,8vw);
		padding-right:  max(1rem,8vw);
	}

	
</style>